.header {
  width: 100%;
  display: grid;
  grid-template-columns: 429px 148px 391px;
  grid-template-rows: 105px;
  margin: 92px 0px 96px 0px;
  padding: 0;
  justify-content: center;
}

.menu {
  display: flex;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__links-list {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 32px;
  list-style-type: circle;
}

.header__links-list-item_no-bullet {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid #000;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.header__link_active {
  border-bottom: none;
}

.header__logo-image {
  display: block;
  width: 100%;
  height: 100%;
}

.address {
  display: flex;
  flex-direction: column;
}

.header__address {
  justify-self: end;
}

.address-list {
  padding-top: 4px;
  list-style: none;
}

.address-link {
  border-bottom: 1px solid #000;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  letter-spacing: 0.18px;
  text-decoration: none;
}

.cover {
  position: relative;
  z-index: 0;
  padding: 165px 50px 50px;
  color: #fff;
  text-transform: uppercase;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

/* overlay внутри карточек лотов */
.card .overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-align: center;
  text-transform: uppercase;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 106px;
}

.cover__description-text {
  z-index: 1;
  margin-top: 12px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  padding: 12px 32px;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin: 178px 24px 0;
}

.lots__heading {
  margin: 0 0 27px 40px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  height: 595px;
}

.card-link {
  width: 100%;
  height: 100%;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.card__text {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.lots__look-more-link {
  display: block;
  width: fit-content;
  margin: 30px 0 0 40px;
  border-bottom: 1px solid #000;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.about {
  display: grid;
  grid-template-columns: 240px auto;
  gap: 72px;
  margin: 155px 24px 0 71px;
}

.about__logo {
  display: grid;
  place-items: center;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  padding-top: 98px;
}

.about__title {
  margin-bottom: 100px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.about__text:nth-child(2) {
  margin: 0 0 24px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 180px 50px 82px;
}

.footer__address {
  align-items: center;
}

.footer__menu {
  align-items: start;
  padding-top: 5px;
}

.footer__menu__links-list {
  flex-direction: column;
  align-items: center;
  gap: 0;
  list-style: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 48px;
  padding-top: 5px;
  list-style: none;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}